<!-- Resume Section -->
<section class="success" id="Resume">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>As a humble eager to learn student that has barely dipped her toes into the pool expertise in the broad field of chemical engineering, I am keeping an open mind to all opportunities that provide a new experience. </p>
      </div>
      <div class="col-lg-4">
        <p>From my professional work experience I have found that the work culture is a cardinal element that creates trust, loyalty, respect, passion, and teamwork in an environment which is exactly what I would like to be a part of. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
